/* Sources SF aka stallaf
 * 20-07-2025
 * stallaf arobase stallaf point fr
 * license : CC-BY-SA
 * fichier css de base
*/

.accueil ul{
  padding-top: 2px;
}
.accueil ul, li{
  list-style-type: none;
}
.accueil h1{
  text-align: center;
}
.accueil h3 {
  color:#39aa56;
  padding-top: 5px;
}
.ancre-titre {
 transition:hover .2s ease;
 position:absolute;
 opacity:.0
}
.ancre-titre.after {
 margin-left:5px;
 margin-top: -5px;
}
.ancre-titre.before {
 margin-left:-22px;
 padding-right:8px
}
.ancre-titre:after {
 content:"#"
}
:hover>.ancre-titre,
.ancre-titre:focus {
 opacity: 0.5;
}
.bouton-embarquement {
  background-color: #39aa56;
  border-radius: 12px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  font-weight: bolder;
  cursor: pointer;  
 }
.bouton-embarquement:focus, 
.bouton-embarquement:active, 
.bouton-embarquement:hover {
  background-color:#5cb85c;
  color: white;  
}
.centre{
  text-align: center;
}
.deux-colonnes {
  columns: 2 300px;
}
.deux-colonnes-bis{
  columns: 2 50px;
}
.deux-colonnes-bis p{
  column-span: all;
}
.fa {
  display: inline;
  font-family: "ForkAwesome";
  font-size: inherit;
  text-rendering: auto;
 }
.fa-flag:before {
  content:"\f11d";
}
h2 {
  color: #39aa56;
}
h3{
  color: #3eaaaf;
}
.invisible{
  visibility: hidden;
}
.item {
  width: 100px;
  background-color:slategrey;
}
.item gauche{
  text-align: left;
}
.item droit{
  text-align: right;
}
.notice p {
  margin:0 0 1.5rem .5rem;
}
.notice p:last-child {
  margin-bottom:0;
}
.notice.cadre {
  margin: 3% 0 3% 0;
  padding:3%;
  background:#efefef;
  font-style: italic;
 }
 .notice.defaut {
  border-left:3px solid #d3d3d3;
}
.notice.info {
  color:#df8a13;
  border: 1px solid #df8a13;
  border-left:5px solid #f0ad4e;
  background:#fcf8f3;
}
.notice.note {
  color:#28a1c5;
  border-left:5px solid #5bc0de;
  background:#f4f8fa;
}
.notice.astuce {
  color:#3d8b3d;
  border-left:5px solid #5cb85c;
  background:#f1f9f1;
}
.notice.attention {
  color:#b52b27;
  border-left:5px solid #d9534f;
  background:#fdf7f7;
}
.notice.astuce,
.attention,
.info,
.note{
  border-radius: 5px;
  margin: 3% 0 3% 0;
  padding:3%;  
}
.plus-petit {
  font-size: smaller;
}
.push-right {
  margin-left: auto;
}
.tableau,
.tableau2 {
box-sizing: border-box;
display: table-cell;
float: none;
line-height: 25.5px;
position: static;
z-index: auto;
}
.tableau2 td {
  text-align: center;
}
.tableau th, 
.tableau2 th {
  font-weight: bold;
}
.tableau tr:nth-child(even),
.tableau2 tr:nth-child(even) {
  background-color: #f2f2f2;
}
tfoot th {
  text-align: left;
}
.tdm{
  margin: 3em 0; 
}
.tdm li:before {
  width: 5px;
  height: 5px;
  display: inline-block;
  background-color: #3eaaaf;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 0.4em; 
}
.tdm a {
  color: #3eaaaf; 
}
.tdm a:hover {
  text-decoration: underline;
}
.tdm, .liste-langage{ 
  text-transform: uppercase;
}
.titre-code{
  background-color:slategrey;
  color:white;
  width: auto;
  margin-bottom: -16px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}
.trois-colonnes {
  columns: 3 200px;
}